@import 'jeet'
@import 'Rupture'
@import 'util.styl'

edit()

body 
	margin 0
	position absolute
	padding 0
	width 100%
	height 100%
	overflow hidden
	background-color BlueI

.spaceholder
	height 42.6%
	+below(500px)
		height 35%

.bicolorsection
	height 76.25%
	background-color BlueII	

.logoholder
	height 20.43%

.fontholder
	ceter(30%)	
	height 100%
	padding 0px
	margin 0px
	font-family impact
	color YellowI
	text-align center
	font-size 5.5rem
	+below(500px)
		font-size 3.5rem

.formholder
	center(30%)

.center
	text-align center

#display
	text-align center
	fontRegular()
	color YellowI
	font-size 0.95rem
	margin-top 1.0rem

.container
	width 100%
	height 100%
	overflow hidden
	background-color YellowII
	fontRegular()

.sub_contain
	center(50%)
.sub_contain > .ui.card
	align center	
		
			


		

					 				 				


	
			
		