@import 'jeet'
@import 'Rupture'

// Define Color

BlueI = #41a4ea
BlueII = #52b2f8
YellowI = #fcca01
YellowII = #ffb300 

// Define Font

@font-face
	font-family ZagRegular
	src url(font/ZagRegular.otf) format("openType")

@font-face
	font-family ZagBold
	src url(font/ZagBold.otf) format("openType")
	

fontRegular()
	font-family ZagRegular !important

fontBold()
	font-family ZagBold !important			